:root {
  --ElementsPanel-count: 6;
  --ElementsPanel-size: calc(min(100vw, 90vmin, 600px) / var(--ElementsPanel-count));
}

.ElementsPanel {

  &-wrapper {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--ElementsPanel-size);
    padding: 0 0 2vmin 0;
  }

  &-VisibilityBtn {
    height: var(--ElementsPanel-size);
    width: var(--ElementsPanel-size);
    cursor: pointer;
    animation: ElementsPanel-VisibilityBtn-appear 0.2s ease-in-out;

    svg {
      width: 60%;
      height: 100%;
    }
  }

  &-ElementIcon {
    height: var(--ElementsPanel-size);
    width: var(--ElementsPanel-size);
    position: relative;
    cursor: pointer;

    & .main, & .outline, & .waning_bkg {
      height: var(--ElementsPanel-size);
      width: var(--ElementsPanel-size);
      position: absolute;
      transition: all 0.25s ease-in-out;
      image-rendering: smooth;
      clip-path: inset(0 0 0 0);
      left: 0;
    }

    &.inert {
      img {
        filter: grayscale(100%) brightness(50%);
        opacity: 0.5;
      }

      &.dark {
        img {
          filter: grayscale(100%) invert(30%);
          opacity: 0.18;
        }
      }

      & .main {
        // for better waning -> inert transition
        clip-path: inset(-50% 0 0 0);
      }
    }

    &.strong {
      img {
        opacity: 1;
      }
    }

    &._waning {
      opacity: 0;
    }

    &.waning {
      .main {
        opacity: 1;
        // crop in half
        clip-path: inset(0 0 50% 0);
      }

      .waning_bkg {
        opacity: 0;
        // crop in half, leaving only the bottom half
        clip-path: inset(50% 0 0 0);
      }
    }

    & .outline {
      opacity: 0.15;
      filter: invert(100%) saturate(0) brightness(500%);
    }

    &.dark:not(.inert) .outline {
      filter: invert(100%) saturate(0) blur(0.1em) !important;
      transform: scale(1.05);
    }

    &.dark.waning > .outline {
      clip-path: inset(0 0 50% 0);
      opacity: 1;
    }

    &.dark.waning > .waning_bkg {
      opacity: .3;
      clip-path: inset(50% 0 0 0);
      filter: grayscale(100%) invert(30%);
    }

    &.fire.inert .outline {
      filter: invert(100%) brightness(150%) saturate(0%) !important;
    }
  }
}

@keyframes ElementsPanel-VisibilityBtn-appear {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: var(--ElementsPanel-size);
    height: var(--ElementsPanel-size);
  }
}
