.ChangeLocale-button {
  position: fixed;
  left: 16px;
  bottom: 16px;
  animation: scaledAppear 0.2s ease-in-out;

  background: #ffffff;

  border: 4px solid #ccc;
  height: calc(1.5em);
  min-height: max(3vmin, 2.5rem, 4vh);
  cursor: pointer;
  justify-content: center;
  display: flex;
  line-height: 3vmin;
  min-width: 2rem;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  font-size: calc(10px + 2vmin);

  & img {
    height: max(3vmin, 2.5rem, 4vh);
    width: max(3vmin, 2.5rem, 4vh);
  }
}
