.RoundCounter-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  user-select: none;
  line-height: 1em;
  margin-top: 0.7em;

  &.history::after {
    content: '(history)';
    position: absolute;
    margin-top: 6rem;
    margin-left: 6rem;
    color: #cccccc88;
  }
}
